#map-row {
    background-image: url(way.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#reviews-row, #why-row {
	margin-left: 0px;
    margin-right: 0px;
}

#reviews-row .glyphicon{
	color:#0083AD;
}

.carousel-indicators{
	display:none
}
.carousel-control{
	background-image:none !important;
	width: 40px;
}
.main-ui-view-container{
	top: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.glyphicon-star{ 
	color: orange !important;
}
.carousel-inner{
	height:234px
}
#why-row img{
	width:100%; 
	max-width:500px; 
	height:325px
}

#why-row .panel{
	margin-top: 10px;
    min-height: 65px;
    font-size: 16px;
	padding:10px;
}