<link href="app/mainDashboard/mainDashboard.css" rel="stylesheet" />

<!-- <div ui-view="sidebar"></div> -->

<section class="main-content-wrapper">
	<section id="main-content">

        
		<map-canvas listings-in-map="dashCtrl.data" fetch-map="dashCtrl.getMap"></map-canvas>
			
		<section class="row" id="reviews-row" ng-show="dashCtrl.data && dashCtrl.data.length > 0">
		<section class="col-lg-12">
		  <div class="page-header">
			
		  </div>
		</section>
		<section class="col-lg-12">
		<div uib-carousel active="active" style="background-color: transparent;" interval="5000">
		  
		  <div uib-slide ng-repeat="item in dashCtrl.data track by $index" index="$index" >
		  <div class="row">
			<figure class="col-lg-4 col-md-6" ng-show="dashCtrl.data.length > 0 " ng-click="dashCtrl.open(dashCtrl.data[$index].id)">
				<img ng-src="{{dashCtrl.data[$index].imageLg}}" style="margin:auto;">
				<figcaption>Rating: <span class="glyphicon glyphicon-star" ng-repeat="i in dashCtrl.getNumber(dashCtrl.data[$index].ratingNum) track by $index"></span></figcaption>
			</figure>

			<figure class="col-lg-4 col-md-6" ng-show="dashCtrl.data.length > 1 " ng-click="dashCtrl.open(dashCtrl.data[($index + 1 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 1 : $index+1)].id)">
				<img ng-src="{{dashCtrl.data[($index + 1 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 1 : $index+1)].imageLg}}" style="margin:auto;">
				<figcaption>Rating: <span class="glyphicon glyphicon-star" ng-repeat="i in dashCtrl.getNumber(dashCtrl.data[($index + 1 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 1 : $index+1)].ratingNum) track by $index"></span></figcaption>
			</figure>

			<figure class="col-lg-4 col-md-6" ng-show="dashCtrl.data.length > 2 "  ng-click="dashCtrl.open(dashCtrl.data[($index + 2 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 2: $index+2)].id)">
				<img ng-src="{{dashCtrl.data[($index + 2 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 2: $index+2)].imageLg}}" style="margin:auto;">	
				<figcaption>Rating: <span class="glyphicon glyphicon-star" ng-repeat="i in dashCtrl.getNumber(dashCtrl.data[($index + 2 > dashCtrl.data.length - 1 ? $index - dashCtrl.data.length  + 2: $index+2)].ratingNum) track by $index"></span></figcaption>
			</figure>
		
			</div>
		  </div>
		</div>
		</section>
		</section>	
			
		<section class="row" id="why-row" >
		<section class="col-lg-12">
		  <div class="page-header">
				<h2 style="text-align:center;color:#0083AD">Why RentBuyLive?</h2>
		  </div>
		</section>
		<section class="col-lg-4 col-md-4">
			<section class="alert alert-warning">
				<img src="app/mainDashboard/arm.jpg" ><br>
				<section class="panel panel-default">
					Home buyers!! Take your power back by telling your sellers what you want.
				</section>
			</section>
		</section>
		<section class="col-lg-4 col-md-4">
			<section class="alert alert-success">
				<img src="app/mainDashboard/win-win-125.jpg"  ><br>
				<section class="panel panel-default">
					Home owners!! Easily communicate to all past buyers about any changes they might be interested in.
				</section>
			</section>
		</section>
		<section class="col-lg-4 col-md-4">
			<section class="alert alert-info">
				<img src="app/mainDashboard/customer-engagement.jpg" ><br>
				<section class="panel panel-default">
					Agents!! Gain metrics on what home buyers in your area are looking for.
				</section>
			</section>
		</section>
		</section>
		
		
	</section>
</section>
